/* .spinningCubePage {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.cube {
 transform-style: preserve-3d;
 animation: spin 5s infinite ease-out;
 position: relative;
 width: 100px;
 height: 100px;
 top: 30%;
 left: 50%;
 margin-left: -100px;
 margin-top: -100px;
}

.cube div {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  box-shadow: inset 2px 2px 2px 2px #f77f08;
  background: black;
  color: #f77f08;
  display: block;
  position: absolute;
  -webkit-box-shadow: 5px 5px 15px 5px 	#f77f08; 
box-shadow: 5px 5px 15px 5px #ffd700;
}

.cube div.top {
  transform: rotateX(90deg); 
 margin-top: -100px;
 font-size: x-large;
}

.cube div.right {
  transform: rotateY(90deg); 
 margin-left: 100px;
 font-size: x-large;
}

.cube div.bottom {
  transform: rotateX(-90deg); 
 margin-top: 100px;
 font-size: x-large;
}

.cube div.left {
  transform: rotateY(-90deg); 
 margin-left: -100px;
 font-size: x-large;
}

.cube div.front {
 transform: translateZ(100px);
 font-size: x-large;
}

.cube div.back {
 transform: translateZ(-100px);
 font-size: x-large;
}

@keyframes spin {
 0% {-webkit-transform: rotateX(-20deg) rotateY(20deg);}
 100% {-webkit-transform: rotateX(-20deg) rotateY(740deg);}
}
