.App {
  height: 100vh;
  text-align: center;
  background-color: black;
}

.App-header {
  background-color: black;
  min-height: 36vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

